h1{
    color:rgb(60, 23, 135);
}

div {
    padding: 80px;
    text-align: center;
    background: rgb(175, 147, 231);
    color: rgb(60, 23, 135);
}

body {
    margin: 0;
}

.header {
    padding: 80px;
    text-align: center;
    background: greenyellow;
    color: rgb(72, 103, 25);
}

@media screen and(max-width: 700px) {
    .row {
        flex-direction: column;
    }
}

* {
    box-sizing: border-box;
}

.row {
    display: flex;
}

.navbar {
    overflow: hidden;
    background-color: rgb(60, 23, 135);
    padding: 14px 20px;
}

.footer {
    padding: 20px;
    text-align: left;
    background: rgb(60, 23, 135);
    color: rgb(175, 147, 231);
}

.main {
    flex: 70%;
    background-color: rgb(175, 147, 231);
    padding: 20px;
}